#page-content-wrapper {
  padding-top: 15px;
}

.container-fluid {
  height: 100%;
}

.full-height {
  height: 100%;
}

.plotting-row {
  height: 300px;
  padding-bottom: 40px;
}

.stations-row1 {
  height: 300px;
  padding-bottom: 20px;
}

.stations-row2 {
  height: calc(100% - 155px); // not sure why this # works
}

#timeseries-view {
  padding-left: 15px;
  padding-right: 15px;
}

th {
  text-align: center !important; // datetimepicker heading must be centered!
}

#timeseries-plot {
  height: 100%;
  width: 100%;
}

.justified {
  text-align: justify;
  height: calc(100% - 155px);
}

#metadata-thumb {
  height: 187px;
  float: right;
}

.leaflet-container{
  z-index: 0;
  border-radius: 4px;
}

.panel-heading .institution {
  float: right;
}

.panel-heading h2 {
  font-size: 18px;
}
