.category-rollup {
}

.category-rollup a:hover {
  text-decoration: none;
}

.panel-title.category-title > a{ 
  color: #393939;
}

.panel-title.category-title > .pull-right a{ 
  color: #393939;
}

.panel-title.category-title > a:hover {
  color: #3288A3;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 85%;
  padding-top: 3px;
  font-size: 14px;
  color: #777;
}

.panel-heading h3:hover {
  color: #222;
  cursor: pointer;
}

.panel-heading i {
  color: #777;
  cursor: pointer;
}

.panel-heading i:hover {
  color: #222;
}

ul.station-list {
  list-style-type: none;
  padding-left: 10px;
}

.station-list li a { 
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 475;
  color: #777;
}
.station-list li a:hover {
  color: #222;
}
