<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GLOS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="map" href="/map">Map</a></li>
        <li><a id="stations" href="/stations">Stations</a></li>
        <li><a id="plotting" href="/plotting">Plotting</a></li>
      </ul> <!-- .nav .navbar-nav -->
      <ul class="nav navbar-nav navbar-right">
        <li><a id="about" href="#">About</a></li>
        <li><a id="help" href="#">Help</a></li>
      </ul> <!-- .nav .navbar-nav -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
