<button data-dataset="Toledo Low Service - Temperature (C)" type="button" class="btn btn-primary btn-xs">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Toledo Low Service - Temperature (C)
</button>
&nbsp;&nbsp;
<button data-dataset="Toledo Water Intake Crib - Temperature (C)" type="button" class="btn btn-success btn-xs">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Toledo Water Intake Crib - Temperature (C)
</button>
&nbsp;&nbsp;
<button data-dataset="OSU SBI - Temperature (C)" type="button" class="btn btn-danger btn-xs">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> OSU SBI - Temperature (C)
</button>
