<% collection.each(function(model) { %>
  <div class="panel panel-default full-height">
    <div class="panel-heading"><%= model.get('name') %></div>
    <div class="panel-body">
      <%= model.get('institution') %><br>
      <%= model.get('lat') %>&deg; N, <%= model.get('lon') %>&deg; E<br>
      <% var categories = _.filter(model.get('categories'),function(o){return o != 'stations'}).sort(); %>
      <% if (categories.length > 0) { %>
        <select size=6  class="form-control">
          <% _.each(categories,function(o) { %>
            <option><%= o %></option>
          <% }); %>
        </select>
      <% } %>
    </div>
  </div>
<% }) %>
