<div class="row full-height">
  <div class="panel panel-default full-height">
    <div class="panel-heading">Plotting (need to think of a better title or perhaps put plotted vars here as a breadcrumb or tiny remove buttons)</div>
    <div class="panel-body full-height">
      <div class="row full-height">
        <div class="col-md-4 full-height">
          <p class="justified">
            How I love this website!  HAB's for everyone, everwhere.  Now play that funky music, white boy.
          </p>
          <br>
          <div class="form-horizontal">
            <div class="form-group">
              <label for="start-date" class="col-md-4 control-label">Start</label>
              <div class="col-md-7">
                <input type="date" class="form-control" id="start-date" placeholder="Start Date">
              </div>
            </div>
            <div class="form-group">
              <label for="end-date" class="col-md-4 control-label">End</label>
              <div class="col-md-7">
                <input type="date" class="form-control" id="end-date" placeholder="End Date">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default btn-block">Refresh Plot</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 full-height">
          <div id="timeseries-plot" class="full-height">
        </div>
      </div> 
    </div>
  </div>
</div>
