<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}{% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Great Lakes Observing System Data Portal">
  <meta name="author" content="Great Lakes Observing System">  
  {% block head %}
  {% endblock %}

  <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/lib/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
