{% extends "base.html" %}
{% block title %}
    <title>HABS Data Portal</title>
{% endblock %}
{% block head %}
<!-- Unfortunately leaflet and Grunt don't get along -->
<link href="/lib/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<script src="/lib/leaflet/dist/leaflet-src.js" type="text/javascript"></script>

<!-- Partials -->
<script src="/js/partials/compiled/stations.js" type="text/javascript"></script>

<!-- Scripts -->
<script src="/js/compiled/stations.js" type="text/javascript"></script>

<!-- CSS -->
<link href="/css/compiled/stations.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}

<div id="banner">
</div>
<div id="navbar">
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <div id="toc">
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div id="station-metadata-view" class="stations-row1">
          </div>
        </div>
        <div class="col-md-6">
          <div class="stations-row1">
            <div id="map-view">
            </div> <!-- #map -->
          </div>
        </div>
      </div>
      <div class="row stations-row2">
        <div class="col-md-12 stations-row2">
          <div class="panel panel-default full-height">
            <div id="timeseries-view" class="panel-body full-height">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div> <!-- #page-content-wrapper -->
</div> <!-- #wrapper -->

<script type="text/javascript">
var App = function() {
}

_.extend(App.prototype, Backbone.Events, {
  views: {
    bannerVeiw: null,
    navbarView: null,
    tocView: null,
    mapView: null,
    stationMetadataView: null,
    timeseriesView: null
  },
  models: {
  },
  collections: {
    stations: null,
    activeStations: null
  },
  start: function() {
    var self = this;
    this.stationID = getParameterByName("id");

    /* Collections */
    this.collections.categories = new CategoryCollection();
    this.collections.categoriesStationsOnly = new CategoryCollection();
    this.collections.institutions = new InstitutionCollection();
    this.collections.stations = new StationCollection();
    this.collections.activeStations = new StationCollection();
    this.collections.activeStationsSelected = new StationCollection();

    /* Views */
    this.views.bannerView = new BannerView({
      el: $('#banner')
    }).render();

    this.views.navbarView = new NavbarView({
      el: $('#navbar'),
      mode: 'stations'
    }).render();

    this.views.tocView = new TOCView({
      el: $('#toc'),
      parentCollection: this.collections.categoriesStationsOnly,
      childCollection: this.collections.stations,
      parentChildAssociation: function(parent,child) {
        return _.indexOf(child.get('categories'),parent.get('id')) >= 0
      }
    });

    this.views.mapView = new StationMapView({
      el: $('#map-view'),
      collection: this.collections.activeStations,
      institutions: this.collections.institutions,
      center: [41.63, -82.61],
      zoom: 10
    }).render();

    this.views.stationMetadataView = new StationMetadataView({
      el: $('#station-metadata-view'),
      collection: this.collections.activeStationsSelected
    });

    this.views.timeseriesView = new TimeseriesView({
      el: $('#timeseries-view'),
    }).render();

    /* Event Listeners */

    /* stations:reset */
    this.listenTo(this.collections.stations, 'reset', function(collection) {
      self.collections.categoriesStationsOnly.reset(self.collections.categories.where({name : 'Stations'}));
      self.views.stationMetadataView.render();
      var models = collection.models;
      self.collections.activeStations.reset(models);
    });

    this.listenTo(this.collections.activeStationsSelected, 'reset', function(collection) {
      this.views.stationMetadataView.render();
    });

    /* tocChildItemView:onTOCChildSelect */
    this.listenTo(this, 'tocChildItemView:onTOCChildSelect', function(model) {
      // the child in this case is a station
      this.views.mapView.highlightStation(model);
      self.collections.activeStationsSelected.reset(self.collections.activeStations.where({id : model.get('id')}));
    });

    /* activeStations:reset */
    this.listenTo(this.collections.activeStations, 'reset', function(collection) {
      self.views.mapView.drawStations();
      self.views.tocView.render();
      // Open up the first item (categories in this case)
      self.views.tocView.subviews[0].collapse();
      // If the page was loaded with a particular station in mind, go right to it.
      if(self.stationID) {
        var model = collection.get(self.stationID);
      } else {
        var model = collection.at(0);
      }
      if(model) {
        self.trigger('stationItemView:onStationSelect', model);
      }

    });

    /* mapView:stationClick */
    this.listenTo(this.views.mapView, 'stationClick', function(feature) {
      this.views.mapView.highlightStation(feature.model);
      self.collections.activeStationsSelected.reset(self.collections.activeStations.where({id : feature.model.get('id')}));
    });

    /* mapView:mapClick */
    this.listenTo(this.views.mapView, 'mapClick', function() {
      /* If a non-layer was clicked, clear the map of any selected stations */
      this.views.mapView.clearSelection();
    });

    /* stationMetdataView:onVariableSelect */
    this.listenTo(this, 'stationMetdataView:onVariableSelect', function(model, variable) {
      // FIXME.  You may not need the model here.
      // If you have picked a variable, you should have picked a station 1st.
      console.log('stationMetdataView:onVariableSelect: ' + model.get('id') + ' ' + variable);
    });

    /* timeseriesView:onRefreshClick */
    this.listenTo(this, 'timeseriesView:onRefreshClick', function(model, options) {
      // FIXME.  No model here yet.
      console.log('timeseriesView:onRefreshClick: from ' + options.start + ' to ' + options.end);
    });

    /* Fetching */
    this.collections.categories.fetch({reset: true});
    this.collections.stations.fetch({reset: true});
    this.collections.institutions.fetch({reset: true});
  }
});

app = new App();
$(document).ready(function() {
  app.start();
});

</script>
{% endblock %}

